.jumbotron {
    background-color: transparent;
    float: left;
    /* min-width: 500px; */
}

hr {
    border-width: 1px;
    border-color: black;
    margin:10;
}
h1 {
    font-size: 35px;
    font-family: 'Coda Caption', sans-serif;
    margin-bottom: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
}