.jumbotron {
    background-color: transparent;
    float: left;
    /* min-width: 500px; */
}

hr {
    border-width: 1px;
    border-color: black;
    margin:10;
}
h1 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
}

#logo {
    margin-top: -50px;
    height: 350px;
    /* width: 250px; */
    margin-bottom: 40px;
}